.pine1, .cb1, .bs1 {
  width: 250px;
  opacity: 1.0;
}

body {
  background-color: ivory;
}

.pine1:hover, .cb1:hover, .bs1:hover {
  width: 350px;
}

.fadeAnimation {
	transition-property: opacity;
	transition-duration: 1s;
}

.endAnimation {
  opacity: 0;
}


.montereypine {
  float: left;
  padding: 10px;
  text-align: center;
  margin: auto;
}

.coyotebrush {
  float: left;
  padding: 10px;
  text-align: center;
  margin: auto;
}

.beachstrawberry {
  float: left;
  padding: 10px;
  text-align: center;
  margin: auto;
}

.montereyg {
  overflow: hidden;
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 5%;
}

#mgreens {
  width: 100%;
  overflow: hidden;
}

.montereygreens {
  text-align: center;
}
