.pine1, .cb1, .bs1 {
  width: 250px;
  opacity: 1.0;
}

html, body {
  background-image: url("../img/gardenB.jpeg");
  min-width: 1024px;
}

#sidebar {
  display: inline-block;
width: 60%;
margin: 20px;
padding: 10px;
border-radius: 0 50px;
border: 20px double #e9ca53;
background-image:
radial-gradient(#f8d071, #fadd65, #f8df69);
font-family: "proxima-nova", sans-serif;
color: #664a34;
word-spacing: 5px;
line-height:130%;
font-size:17px;
}

h1 {
  font-family: sans-serif;
  color: white;
}

h3 {
  font-family: sans-serif;
  color: green;
}

.pine1:hover, .cb1:hover, .bs1:hover {
  width: 350px;
}

.fadeAnimation {
	transition-property: opacity;
	transition-duration: 1s;
}

.endAnimation {
  opacity: 0;
}


.montereypine {
  float: left;
  padding: 10px;
  text-align: center;
  margin: auto;
}

.coyotebrush {
  float: left;
  padding: 10px;
  text-align: center;
  margin: auto;
}

.beachstrawberry {
  float: left;
  padding: 10px;
  text-align: center;
  margin: auto;
}

.montereyg {
  overflow: hidden;
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 5%;
}

#mgreens {
  width: 100%;
  overflow: hidden;
}

.montereygreens {
  text-align: center;
}
